* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }

/*cabecalho*/
.cabecalho{
  background-color: #2c3e50;
  min-height: 10vh;
}

.cabecalho-img {
  width: 5%;
  border-radius: 40%;
  max-width: 700px;
  margin: 30px;
  box-shadow: 0px 10px 13px -7px #1e2a36, 5px 5px 15px 5px rgba(0,0,0,0);
}

.logo-responsive{
  display: none;

}

.header-items{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.cabecalho-menu {
  display: flex;
  gap: 60px;
}

.cabecalho-menu-item {
  color: #ffffff;
  font-weight: 400px;
  font-size: max(16px, 1.5vw);
}

.cabecalho-menu-item:hover {
  opacity: 1;
  text-decoration: underline;
}

  #main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 75vw;
    margin: 0 auto; /* Centralizar horizontalmente */

  }

  .title_content{
    font-size: max(14px, 3vw);
  }
/*cabecalho*/
  .form {
    margin-top: 20px;
    display: flex;
    align-items: center;
  }
  
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 100px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }
  
  .input-search {
    padding: 2vw 8vw;
    margin: 10px;
    box-sizing: border-box;
    border-radius: 23px 6px;
    font-size: max(8px, 1.5vw);
    flex-grow: 1;
  }
  
  .btn-search {
    padding: 5px;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
  }

 .icon-search{
    width: 6vw;
  }

  .btn-search:hover {
    background-color: #2c3e50;
  }
  
  .buttons {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 2vw;
  }
  
  .button {
    padding: 10px 4vw;
    background-color: #1f2d3d;
    color: #fff;
    border: none;
    border-radius: 23px 6px;
    font-size: max(8px, 1.5vw);
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .button:hover {
    background-color: #2c3e50;
  }
  
  .pokemon-img {
    width: 100%;
    max-width: 150px;
    height: auto;
    margin-bottom: 20px;
    object-fit: cover; /* Evita distorção da imagem */
  }
  
  .pokemon-data {
    text-align: center;
    margin-bottom: 20px;
    text-transform: capitalize;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title-item{
    margin-top: 14px;
    font-size: max(14px, 2vw);
  }
  
  .pokemon-id {
    font-size: max(14px, 3vw);
    font-weight: 600;
    color: #555;
    white-space: nowrap;
  }
  
  .pokemon-name {
    font-size: max(14px, 3vw);
    font-weight: 600;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .pokemon-evolution {
    font-size: max(14px, 1.5vw);
    color: #888;
    margin-top: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .pokemon-abilities,
  .pokemon-types {
    margin-top: 20px;
    padding: 0;
    list-style: none;
  }
  
  .ability-list,
  .type-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  
  .pokemon-abilities ul,
  .pokemon-types ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .ability-list li,
  .type-list li {
    background-color: #eee;
    color: #555;
    padding: 5px 10px;
    border-radius: 20px;
    margin: 5px;
    font-size: max(14px, 1.5vw);
    text-transform: capitalize;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2c3e50;
    color: #FFF;
    padding: 20px;
    font-size: max(8px, 1.2vw);

  }
    
 /*responsividade*/

 @media (max-width: 630px) {

  .header-items{
      display: none;
  }

  header .top{
      display: none;
  }

  .menu-responsive{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }

  .logo-responsive{
      display: flex;
      max-width: 700px;
      width: 7%;
      margin: 30px;
      border-radius: 40%;
      box-shadow: 0px 10px 13px -7px #1e2a36, 5px 5px 15px 5px rgba(0,0,0,0);
  
  }

  .button-contacte {
      margin-top: 2vh;
  }
  
  .one,
  .two,
  .three {
      background-color: #fff;
      height: 2px;
      width: 60%;
      margin: 5px auto;
      transition-duration: 0.3s;
  }

  .menu-toggle{
      width: 40px;
      height: 30px;
  }

  .cabecalho .menu-toggle{
      position: absolute;
      right: -4vw;
      margin-right: 10vw;
      top: 3vh;
  }

  /*fullscren*/

  .logo-responsive.off{
      opacity: 0%;
  }

  .container.on{
      margin-top: 120vh;
  }


  .cabecalho.on{
      position: absolute;
      top: 0;
      left: 0;

      width: 100vw;
      height: 100vh;

      z-index: 10;
      justify-content: center;
      align-items: center;
  }

  .cabecalho.on .header-items{
      display: flex;
      flex-direction: column;
      margin-top: 25vh;
  }

  .cabecalho.on .cabecalho-menu{
      display: flex;
      flex-direction: column;
      line-height: 1rem;
      text-align: center;
  }

  .cabecalho-menu-item{
      font-size: 5vw;
  }

  .cabecalho.on .menu-toggle{
      position: absolute;
      right: -4vw;
      margin-right: 10vw;
      top: 3vh;
  }

  .cabecalho.on .menu-toggle .one{
      transform: rotate(45deg) translate(7px, 7px);
  }

  .cabecalho.on .menu-toggle .two{
      opacity: 0;
  }

  .cabecalho.on .menu-toggle .three{
      transform: rotate(-45deg) translate(3px, -4px);
  }

  .cabecalho.on .cabecalho-img{
      width: 10%;
  }

}